/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.backgroundImage {
  /* background-image: url(https://expense-tracker-money-manager.netlify.app/static/media/img03.abec790698dfcdf49068.png);
  width: 100%;
  color: aliceblue;
  background-repeat: no-repeat; */
}
.redstar {
  color: red;
}
.userProfileName {
  color: #f40b5d;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}
.errorText {
  color: red;
}
.snackbar-success {
  background-color: #22c55e !important; /* Tailwind green-500 */
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.snackbar-deleted {
  background-color: rgb(254, 52, 52) !important; /* Tailwind green-500 */
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.snackbar-logOut {
  background-color: rgb(254, 153, 52) !important; /* Tailwind green-500 */
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 1px;
}

/* dashboard active link colors */
.active-link {
  @apply md:text-sky-500 underline  md:dark:text-blue-200;
}

/* from userform */
.backArrowBts {
  position: sticky;
  left: 40px;
  margin-top: 20px;
  width: fit-content;
}
.userForm {
  margin-top: -40px;
}
.redstar {
  color: red;
}
.userNotLoggedIn {
  /* Red gradient */
  background: linear-gradient(90deg, #ff4b5c, #f55606);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: fadePulse 3s ease-in-out infinite;
}

.warning-icon {
  font-size: 1.4rem;
  color: #e53935; /* soft red */
  animation: iconPulse 2.5s infinite ease-in-out;
}

/* text subtle glowing */
@keyframes fadePulse {
  0% {
    opacity: 0.7;
    text-shadow: 0 0 4px rgba(229, 57, 53, 0.3);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 12px rgba(245, 34, 65, 0.6);
  }
  100% {
    opacity: 0.7;
    text-shadow: 0 0 4px rgba(229, 57, 53, 0.3);
  }
}

/* icon pulse animation */
@keyframes iconPulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
.bg-gray-900\/50 {
  background-color: transparent !important;
}
.fixed.inset-0.bg-gray-900\/50 {
  background-color: transparent !important;
  pointer-events: none !important; /* let clicks go through */
}
.selected {
  background-color: #008ffb;
  color: aliceblue;
}
