/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
body {
  margin: 0;
}
.redstar {
  color: red;
}
.errorText {
  color: red;
}
.snackbar-success {
  background-color: #22c55e !important; /* Tailwind green-500 */
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.snackbar-deleted {
  background-color: rgb(254, 52, 52) !important; /* Tailwind green-500 */
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 1px;
}
