<div>
  <form class="max-w-md mx-auto">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
      >Search</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        (keyup)="searchChangeExpense()"
        [(ngModel)]="searchName"
        name="searchName"
        type="search"
        id="default-search"
        class="block w-full p-3 mt-10 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search Your Expenses..."
      />
      <button
        (click)="resetExpenses()"
        type="reset"
        class="absolute end-1 bottom-2 inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium cursor-pointer"
      >
        <svg
          class="w-[30px] h-[30px] text-gray-800 dark:text-white transition-all hover:text-sky-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M6 18 17.94 6M18 18 6.06 6"
          />
        </svg>
      </button>
    </div>
  </form>
  <div class="px-4 py-2">
    <div
      class="border border-gray-200 w-fit rounded-xl shadow-md px-4 py-3 flex items-center justify-center"
    >
      <h2 class="text-sm font-semibold text-gray-600 tracking-wide">
        Total Expenses :
      </h2>
      <span
        class="text-lg font-bold text-blue-600 bg-gradient-to-r from-cyan-100 to-blue-100 px-3 py-1 rounded-lg shadow-sm"
      >
        {{ totalPrice ? (totalPrice | currency : "INR") : "₹0.00" }}
      </span>
    </div>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr class="border-blue-400">
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Expense name</th>
        <th scope="col" class="px-6 py-3">Amount</th>
        <th scope="col" class="px-6 py-3">Expense Date</th>
        <th scope="col" class="px-6 py-3">Expense Payment Type</th>
        <th scope="col" class="px-6 py-3">Expense Category</th>
        <th scope="col" class="px-6 py-3">Comments</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let expense of expenses; let i = index"
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200"
      >
        <td class="px-6 py-4 font-mono">{{ (page - 1) * limit + i + 1 }}</td>

        <th
          scope="row"
          class="uppercase px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ expense.expense_name }}
        </th>

        <!-- <td class="px-6 py-4 text-center" *ngIf="!expense">No datas</td> -->
        <td class="px-6 py-4">
          {{ expense.amount | currency : "INR" : "symbol" }}
        </td>
        <td class="px-6 py-4">
          <!-- this is build in angular pipe -->
          {{ expense.expense_date | date : "dd-MM-yyyy" }}
        </td>
        <td class="px-6 py-4">{{ expense.expense_payment_type }}</td>
        <td class="px-6 py-4">{{ expense.expense_category }}</td>
        <td class="px-6 py-4">{{ expense.comments }}</td>

        <td>
          <button
            (click)="getEditButtonId(expense)"
            class="font-medium ml-6 text-blue-600 dark:text-blue-500 hover:underline"
          >
            <svg
              class="w-6 h-6 text-amber-600 cursor-pointer dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z"
                clip-rule="evenodd"
              />
              <path
                fill-rule="evenodd"
                d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <!-- Delete Button -->
          <button
            (click)="showDeleteToast(expense, i)"
            class="font-bold ml-2 text-red-600 dark:text-white hover:underline"
          >
            <svg
              class="w-6 h-6 cursor-pointer text-red-500 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <!-- Toast Container -->
          <div
            *ngIf="showToast"
            class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-red-500 text-white px-6 py-3 rounded shadow-lg flex items-center space-x-4 animate-slideDown z-50"
          >
            <span>Are you sure you want to delete this expense?</span>
            <button
              (click)="confirmDelete()"
              class="bg-white text-red-600 px-3 py-1 rounded font-medium hover:bg-gray-200"
            >
              Yes
            </button>
            <button
              (click)="cancelDelete()"
              class="bg-white text-gray-800 px-3 py-1 rounded font-medium hover:bg-gray-200"
            >
              No
            </button>
          </div>

          <!-- <button
            [disabled]="!expense"
            class="font-bold cursor-pointer text-red-600 dark:text-blue-500 hover:underline"
          >
            <svg
              class="w-6 h-6 mr-2 text-green-600 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                clip-rule="evenodd"
              />
            </svg>
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="bg-amber-100">
    <ul class="flex items-center justify-center -space-x-px text-sm">
      <li>
        <button
          (click)="prevPage()"
          [disabled]="page === 1"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-600 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disable: cursor-not-allowed enabled:cursor-pointer disabled:opacity-50 disabled:bg-gray-400"
        >
          Previous
        </button>
      </li>
      <li *ngFor="let p of pageNumbers">
        <button
          (click)="goToPage(p)"
          [ngClass]="{ selected: p === page }"
          class="paginationNumber flex cursor-pointer items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class=""> {{ p }}</span>
        </button>
      </li>

      <li>
        <button
          (click)="nextPage()"
          [disabled]="page === totalPages || page <= 1"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-600 bg-white border border-gray-300 rounded-e-lg hover:bg-amber-400 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disable: cursor-not-allowed enabled:cursor-pointer disabled:opacity-50 disabled:bg-gray-400"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
